<app-toolbar></app-toolbar>
<div class="title">
    <h1>Edit a hero!</h1>
</div>
<div class="edit-hero-form">
    <div class="form-group">
        <form (ngSubmit)="updateHero()" [formGroup]="formData">
            <mat-form-field appearance="fill">
                <mat-label>Update Hero!</mat-label>
                <input formControlName="id" type="hidden" value="heroId">
                <input formControlName="name" matInput placeholder="Write a name">
            </mat-form-field>
            <div class="buttons">
                <button class="edit-hero-button">Enviar</button>
                <button class="go-back"><a href="">Volver</a></button>
            </div>
        </form>
    </div>
</div>
