<app-toolbar></app-toolbar>
<div class="title">
    <h1>Add a new hero!</h1>
</div>
<div class="add-hero-form">
    <div class="form-group">
        <form (ngSubmit)="submitHero()" [formGroup]="formData">
            
                <mat-form-field appearance="fill">
                    <mat-label>New Hero!</mat-label>
                    <input formControlName="name"  matInput placeholder="Write a name">
                </mat-form-field>
                <button class="add-hero-button" mat-flat-button color="primary">Enviar</button>
        </form>
    </div>
</div>

