<mat-card>
    <mat-card-content>
        <div class="title">
            <h1>Superheroes!</h1>
        </div>
        <div class="filter" fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input [(ngModel)]="filter" type="search" matInput placeholder="Search for a superhero!" class="search-input">
            </mat-form-field>
            <button class="filter-hero-button" (click)="heroSearch(filter)">Filtrar</button>
        </div>
    </mat-card-content>
</mat-card>  

<mat-grid-list *ngFor="let hero of superHeores" cols="1" rowHeight="100px">
    <mat-grid-tile>
        <h1>{{ hero.name }}</h1>
        <button  class="update-button" mat-fab (click)="redirectEditHero(hero)" aria-label="Edit a Hero!">
            <mat-icon>border_color</mat-icon>
        </button>
        <button  class="delete-button" mat-fab (click)="onDelete(hero)" aria-label="Delete a Hero!">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
  